#box {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  display: flex;
}

#box div:nth-of-type(2) {
  flex-basis: 100px;
}

#box div:nth-of-type(2) {
  flex-grow: 1;
}

/* 
flex-grow是当均分父元素的空间有剩余时，
那么使用flex-grow会自动把剩余的空间填充补全；
值越大，扩张的越大
*/